<div class="custom-login-page">
  {{mount-widget widget="home-logo"}}
  <div class="separator"></div>
  <div class="login-form">
    <div class="login-header">{{{theme-setting "login_header"}}}</div>
    <div class="login-subheader">{{{theme-setting "login_subheader"}}}</div>
  </div>
  <div class="separator"></div>
</div>
