body.static-login {
  background-size: cover;
  background-repeat: repeat;

  @if $bg-image != "default" {
    background-image: url($bg-image);
  } @else if $bg-color != "default" {
    background: $bg-color;
  } @else {
    background: -webkit-linear-gradient(
      to right,
      $bg-gradient-1,
      $bg-gradient-2
    );
    background: linear-gradient(to right, $bg-gradient-1, $bg-gradient-2);
  }

  .d-header {
    display: none;
  }

  h1 {
    text-align: center;
  }

  .alert.alert-info {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .login-welcome {
    font-size: var(--font-up-1);
    .login-welcome__title {
      p {
        display: none;
      }
    }
  }
}

.desktop-view .d-header-wrap::before {
  width: unset;
}
