body.static-login {
  background-size: cover;
  background-repeat: repeat;

  @if $bg-image != "default" {
    background-image: url($bg-image);
  } @else if $bg-color != "default" {
    background: $bg-color;
  } @else {
    background: -webkit-linear-gradient(to right, $bg-gradient-1, $bg-gradient-2);
    background: linear-gradient(to right, $bg-gradient-1, $bg-gradient-2);
  }

  .body-page {
    margin-top: 5em;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 85%;
    max-width: 830px;
    padding: 2em 3em 5%;
    padding-bottom: 5% !important;
    box-shadow: 0 8px 60px 0 rgba(103,151,255,.10), 0 12px 90px 0 rgba(133,255,103,.10);

    @if $modal-bg-color != "default" {
      background-color: $modal-bg-color;
    } @else {
      background-color: var(--secondary);
    }

    @if $modal-text-color != "default" {
      color: $modal-text-color;
    } @else {
      color: var(--primary);
    }

    @if $login-button-border != "default" {
      border-top: 8px solid $login-button-border;
      border-bottom: 8px solid $login-button-border;
    } @else {
      border-top: 8px solid #8c6f6f;
      border-bottom: 8px solid #8c6f6f;
    }

    .separator {
      border-top: 1px solid #ada8a857;
    }

    .body-page-button-container {
      padding: 20px 2px 1px;
      justify-content: center;

      .btn-primary {
        background-color: #8c6f6f;
        border-radius: 4px;
        box-shadow: 1px 1px 0 0 rgba(0,0,0,.10);
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;
        font-size: large;
        @if $login-button-border != "default" {
         background-color: $login-button-border;
        } @else {
          background-color: #8c6f6f;
        }

        &:hover {
          box-shadow: 0px 0px 1px 1px rgb(149,101,101), 3px 7px 90px 0px rgba(218,255,103,.0)
        }
      }
    }

    .center-aligned-element {
      display: flex;
      justify-content: center;
    }
  }

  .d-header {
    display: none;
  }

  h1 {
    text-align: center;
  }

  p {
    margin-left: 1.2em;
  }

  .login-required {
    display: none;
  }

  .alert.alert-info {
    display: none;
  }

  .custom-login-page .logo-big {
    height: 4.6em;
    padding-bottom: 15px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .login-form {
    padding: 30px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}
