body.static-login {
  .body-page {
    width: 85%;

    .custom-login-page .logo-big {
      height: 4.6em;
      padding-bottom: 15px;
    }
  }

  .btn-primary {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: large;
  }

  .login-form {
    padding: 30px;
  }

  .custom-login-page .logo-big {
    height: 4.6em;
    padding-bottom: 15px;
  }

  p {
    margin-left: 1.2em;
  }
}
